---
layout: default
---

<div class="startpage">
  <div class="row">
    <div class="inverted cell">
      <div>
        <h2>propaganda</h2>
        <p>A <a href="https://kristofer.palmvik.se/developer">developer</a> passionate about building the right thing, and building it right, with a firm belief in agile principles and that the only way to go fast is to go well.</p>
        <p>Has a master's degree in computer science from KTH, and is at the moment doing product work at Biometria.</p>
      </div>
    </div>
    <div class="cell">
      <div>
        <h2>pet projects</h2>
        <ul>
          <li>
            <a href="https://me-game-of-life.herokuapp.com" target="_blank">Game of Life</a>; the simple, and yet so
            fascinating, zero player game that must be implemented at least once in a while.
          </li>
          <li>
            <a href="https://me-puyo-puyo.herokuapp.com" target="_blank">Puyo Puyo</a>; a nostalgic (and oh so futile)
            attempt at recreating the action that took place in the university's computer labs.
          </li>
          <li>
            <a href="https://me-tetris.herokuapp.com" target="_blank">Tetris</a>; most likely implemented solely because
            of <a href="https://www.youtube.com/watch?v=Alw5hs0chj0" target="_blank">this video clip</a>, which explains
            the constant lack of line pieces.
          </li>
        </ul>
      </div>
    </div>
    <div class="cell">
      <div>
        <h2><a href="/ramblings/">ramblings</a></h2>
        <ul>
          {% assign filtered_posts = site.posts | where: "exclude_from_startpage", false %}
          {%- for post in filtered_posts limit: 5 -%}
          <li>
            <a href="{{ post.url | relative_url }}">
              {{ post.title | escape }}
            </a>
          </li>
          {%- endfor -%}
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="quote cell">
      <div>
        <p></p>
        <p></p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="inverted me cell">
      <div>
        <h2>Moi!</h2>
      </div>
    </div>
    <div class="inverted cell">
      <div>
        <h2>antilibrary excerpt</h2>
        <p><a href="https://www.amazon.se/-/en/Taiichi-Ohno/dp/0915299143" target="_blank">Toyota Production System</a> (TPS), since its mindset continues, or should continue, to influence us. <a href="https://www.amazon.se/-/en/W-Edwards-Deming/dp/0262535939" target="_blank">The New Economics</a>, because if already into TPS, why not go a bit deeper. <a href="https://www.amazon.se/-/en/Peter-Block/dp/0470620749" target="_blank">Flawless Consulting</a>; Peter Block is on to something big. <a href="https://www.amazon.com/Structure-Interpretation-Computer-Programs-Engineering/dp/0262510871" target="_blank">Structure and Interpretation of Computer Programs</a>, because the aforementioned "soft" books need some beautiful computer science balance.</p>
      </div>
    </div>
  </div>
</div>
