---
layout: default
---

<div class="splash">
</div>
<div class="content">
  <div class="card">
    <p>Blog posts</p>
    <ul>
      {%- for post in site.posts -%}
      <li>
        <a href="{{ post.url | relative_url }}">
          {{ post.title | escape }}
        </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
  <div class="card">
    <p>Pet projects</p>
    <ul>
      <li>
        <a href="https://me-game-of-life.herokuapp.com" target="_blank">Conway's Game of Life</a>
      </li>
      <li>
        <a href="https://me-puyo-puyo.herokuapp.com" target="_blank">Puyo Puyo</a>
      </li>
      <li>
        <a href="https://me-tetris.herokuapp.com" target="_blank">Tetris</a>
      </li>
    </ul>
  </div>
  <div class="card">
    <p>Contact</p>
    <ul>
      <li>
        <a href="mailto:mikael.e.eliasson@gmail.com">Email</a>
      </li>
      <li>
        <a href="https://www.linkedin.com/in/meliasson" target="_blank">LinkedIn</a>
      </li>
      <li>
        <a href="https://twitter.com/nossailem" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="https://github.com/meliasson" target="_blank">GitHub</a>
      </li>
    </ul>
  </div>
</div>
